.container {
  width: 70%;
  height: 300px;
  background-color: #212121;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto -20vh auto;
  z-index: 1;
}

.container h1 {
  color: white;
  font-size: 2.5rem;
  margin: 20px;
}
.container p {
  color: #bebbbb;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 20px;
}

.Wrapper {
  width: 40%;
  background-color: #212121;
  height: 50px;
}

.formWrapper {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 5px;
}

.formWrapper input{
    border: none;
    background-color: inherit;
    outline: none;
    height: 20px;
    margin-left: 10px;
    font-size: 1rem;
}

.donateBtn {
  position: relative;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: #e65100;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.donateBtn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 30px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.donateBtn span {
  color: #fff;
  position: relative;
  z-index: 1;
}

.donateBtn:hover::after {
  transform: scaleX(1);
}
