.marqueeSection {
  position: relative;
  background-color: goldenrod;
  padding: 15px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.marquee .marqueeGroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  animation: scroll 30s linear infinite;
}

.text {
  font-size: 14px;
  line-height: 36px;
  font-weight: bolder;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1em;
}

@media (prefers-reduced-motion: reduce) {
  .marquee .marqueeGroup {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}